<div class='wrapper'>
    <h1 class='title-questions'><%= title_question(@question) %></h1>

    <%= render 'form' %> <br>

    <%= link_to "Назад", question_path(@question) %>
    <%= link_to "Список вопросов", test_path(@test) %>

</div>
