<ul>

<% @test.questions.each  do |question| %>

<li> <%=question.body %>
<%= button_to "delete", question_path(test_id: params[:test_id], id: question.id),
 :method => :delete %>
 </li>

<% end  %>
</ul>
