<div class='wrapper'>
    <h1 class='title-questions'><%= title_question(@test) %></h1>
    <%= render 'form', model: [:test, @question] %><br>

    <%= link_to "Список вопросов", test_path(@test) %>

</div>
