<h1>Напишите новый вопрос для теста</h1>
<form action="/tests/<%= params[:test_id] %>/questions" method='post'>
<input name="authenticity_token" value="<%= form_authenticity_token%>" type="hidden">
<p>
<label for='question-body' >Содержимое вопроса</label>
<textarea name="body" id="question-body" ></textarea>

</p>

<input type="submit" value="Создать">
</form>
