<%= content_tag :div, class: 'progress', data: {current_count: test_passage.current_index, total_count: test_passage.test.questions.count} do %>

  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax= '100' ></div>

<% end %>
