<div class='footer-wrapper'>
    <footer>
        <div>
            <%= current_year %>
        </div>
        <div>Автор Константин Батюшев
            <%= link('https://github.com/legiorex/test-guru', 'Он-лайн тестирование Test-Guru') %>
        </div>

            <%= link('https://thinknetica.com/', 'Учебный проект в онлайн-школе Thinknetica') %>
    </footer>
</div>
