<footer class='footer'>
    <div class="container">
    <span class='navbar-text'>
            <%= current_year %>
        Автор Константин Батюшев
            <%= link('https://github.com/legiorex/test-guru', 'Он-лайн тестирование Test-Guru') %>
            <%= link('https://thinknetica.com/', 'Учебный проект в онлайн-школе Thinknetica') %>
    </span>
</footer>
