<h1>Тесты</h1>

<p>
    <%= link_to "Создать тест", new_admin_test_path %>
</p>

<table>
    <tr>
        <th>Название теста</th>
        <th>Уровень сложности теста</th>
        <th colspan="3">Управление</th>
        <th>Количество вопросов</th>

    </tr>

    <%= render @tests %>

</table>
